.Chat {
  overflow: hidden;
  height: 99%;
  display: flex;
  flex-direction: column;

  .chat-main {
    height: 90%;
    flex: 1;
    border-radius: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;

    .cm-header {
      padding: 10px;
      background: white;
      border-radius: 10px;
      box-shadow: 0 0 10px rgb(175, 175, 175);
    }

    .cm-body {
      display: flex;
      gap: 10px;
      height: 100%;
      max-height: 755px;

      .cmb-left {
        padding: 10px;
        border-radius: 10px;
        background: white;
        box-shadow: 0 0 10px rgb(175, 175, 175);
        width: 25%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .cmbl-header {
          background: teal;
          padding: 10px;
          display: flex;
          justify-content: space-between;

          .cmblh-search {
            display: flex;
          }
        }

        .cmbl-users {
          display: flex;
          flex-direction: column;
          gap: 10px;
          overflow-y: auto;
          max-height: 100%;

          .cmbl-card {
            background: rgb(242, 255, 0);

            p {
              font-size: 16px;
            }

            &:hover {
              background-color: #e0e0e0;
            }

            &.active-user {
              background-color: var(--primary-color);
              color: white;
            }

          }
        }
      }

      .cmb-right {
        padding: 10px;
        border-radius: 10px;
        background: white;
        width: 75%;
        box-shadow: 0 0 10px rgb(175, 175, 175);
        display: flex;
        flex-direction: column;
        gap: 10px;

        img {
          width: 800px;
        }

        .cmblr-container {
          height: 100%;

          .cmbr-header {
            background: green;
            padding: 10px 0;
            display: flex;
          }

          .cmbr-message {
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            max-height: 85%;
            gap: 10px;


            .message-list {
              list-style: none;
              margin: 0;
              padding: 10px;
              overflow-y: auto;
              font-size: 16px;
            }

            .message {
              margin-bottom: 10px;
              overflow: hidden;
            }

            .sender-message {
              text-align: right;

              .message-bubble {
                background-color: var(--primary-color);
                color: #fff;
                border-radius: 10px 10px 0 10px;
                float: right;
              }
            }

            .receiver-message {
              text-align: left;

              .message-bubble {
                background-color: #ddd;
                color: #333;
                border-radius: 10px 10px 10px 0;
                float: left;
              }
            }

            .message-bubble {
              padding: 10px;
              max-width: 70%;
              word-wrap: break-word;
            }
          }
        }

        .cmbl-input {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          background-color: #fff;
          border-top: 1px solid #ccc;

          input {
            flex: 1;
            padding: 8px;
            margin-right: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
          }

          button {
            padding: 8px 15px;
            background-color: var(--primary-color);
            color: #fff;
            border: none;
            border-radius: 3px;
          }
        }


      }
    }
  }
}