.Entries {
    display: flex;
    min-width: 100%;
    overflow: hidden;
    max-height: 830px;

    .es-main {
        padding: 10px;
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .em-header {
            padding: 10px 15px;
            border-radius: 10px;
            background: var(--sidebar-color);
            display: flex;
            align-items: center;
            justify-content: space-between;

            h3 {
                font-size: 26px;
                letter-spacing: 2px;
            }
        }

        .em-body {
            flex: 1;
            display: flex;
            gap: 20px;
            padding: 10px;
            // justify-content: center;

            .emb-table {
                background: var(--sidebar-color);
                padding: 20px;
                flex: 1;

                #detailTable {
                    width: 100%;
                    border-collapse: collapse;
                }

                #detailTable th,
                #detailTable td {
                    border: 1px solid #ddd;
                    padding: 8px;
                    text-align: left;
                }
            }
        }
    }
}