.Forgot {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #9053c7;
    background: linear-gradient(-135deg, #c850c0, #4158d0);

    .login-container {
        background: var(--sidebar-color);
        width: 960px;
        height: 650px;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;


        .container-left {
            display: flex;
            align-items: center;

            .cl-image {
                width: 316px;

                img {
                    width: 100%;
                    transition: transform 0.2s ease-in-out;

                    &:hover {
                        transform: scale(1.1);

                    }
                }
            }
        }

        .container-right {
            display: flex;
            align-items: center;

            form {
                display: flex;
                flex-direction: column;
                // align-items: center;
                // gap: 10px;
                padding: 10px;
                border-radius: 10px;
                box-shadow: 0 0 10px rgb(219, 219, 219);

                .login-form-title {
                    font-size: 26px;
                    font-weight: 700;
                    margin-bottom: 20px;
                    letter-spacing: 2px;
                }

                .lgic {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .lgi-container {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .input {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            max-width: 280px;
                            width: 280px;
                            padding: 10px;
                            background: #e6e6e6;
                            border-radius: 20px;

                            .icon {
                                font-size: 24px;
                                color: #666;
                            }

                            input {
                                color: #666;
                                background: transparent;
                                outline: none;
                                font-size: 16px;
                                width: 100%;


                            }
                        }
                    }


                    .login-form-btn {
                        max-width: 280px;
                        width: 280px;
                        padding: 10px;
                        background: var(--primary-color);
                        border-radius: 20px;
                        font-size: 16px;
                        color: white;
                        font-weight: 500;
                        letter-spacing: 2px;
                        margin-top: 20px;
                    }

                }

                .forget-pass {
                    font-size: 12px;
                    font-weight: 500;
                    color: var(--text-color);

                    .txt {
                        color: var(--primary-color);
                    }
                }

                .create-account {
                    margin-top: 20px;

                    .txt {
                        color: var(--primary-color);
                        text-decoration: none;
                        font-weight: 500;
                    }
                }
            }

        }
    }
}