.Login{
    background-color: rgb(162, 103, 103);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .login-container{
        background: var(--sidebar-color);
        width: 960px;
        display: flex;
        justify-content: space-evenly;
        

        .container-left{

        }

        .container-right{

        }
    }
}