.Jobs {
    display: flex;
    min-width: 100%;
    min-height: 100%;
    background: red;

    .jobs-main {
        padding: 10px;
        // width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .jobs-header {
            padding: 10px 15px;
            border-radius: 10px;
            background: var(--sidebar-color);
            display: flex;
            align-items: center;
            justify-content: space-between;

            h3 {
                font-size: 26px;
                letter-spacing: 2px;
            }

            button {
                padding: 10px;
                border-radius: 10px;
                border: 1px solid rgb(207, 207, 207);
                font-weight: 500;
                letter-spacing: 2px;
                // display: none;
            }
        }

        .jobs-body {
            flex: 1;
            display: flex;
            gap: 20px;
            justify-content: space-between;

            .jb-left {
                display: flex;
                background: rgb(242, 255, 0);
                border-radius: 10px;
                max-width: 1150px;
                width: 100%;

                .jbl-container {
                    width: 100%;
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;

                    .jblc-cards {
                        padding: 15px;
                        min-width: 700px;
                        border-radius: 10px;
                        background: rgb(255, 255, 255);
                        display: flex;
                        flex-direction: column;

                        .jbc-header{
                            display: flex;
                            flex-direction: column;
                        }
                    }
                }
            }

            .jb-right {
                background: rgb(75, 2, 246);
                min-width: 36%;
                border-radius: 10px;

                .jbr-header {
                    padding: 10px;
                }
            }
        }
    }

}