.notification-main {
    padding: 20px;
    background: var(--sidebar-color);
}

.notification-header {
    display: flex;
    align-items: center;
    position: fixed;
    /* background: rgb(186, 186, 186); */
    background: var(--sidebar-color);
    width: 100%;
    padding: 10px 0;
}

.notification-header h3 {
    font-weight: var(--h3-font-weight);
    font-size: var(--h3-font-size);
}

.bell-icon {
    font-size: var(--icon-size);
}

.notification-container {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;

}

.notification-box {
    background: var(--body-color);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    padding-left: 100px;
    border-left: solid 3px var(--priority-color);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
}

.ntb-content h6 {
    color: var(--text-color);
}

.ntb-content p {
    font-size: 20px;
}

.ntb-content h6 {
    font-weight: 200;
    font-size: 14px;
}


.system-priority {
    --priority-color: rgb(231, 0, 0);
}

.common-priority {
    --priority-color: rgb(141, 141, 141);
}

.employer-priority {
    --priority-color: rgb(0, 128, 0);
}

.employee-priority {
    --priority-color: #695CFE;
}