.Landing {
    display: flex;
    flex-direction: column;
    background: var(--sidebar-color);


    .landing-header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;

        .title{
            h2{
                font-size: 30px;
                color: var(--primary-color);
            }
        }
        .header-links{
            display: flex;
            gap: 20px;
            font-weight: 500;

            a{
                color: var(--text-color);
                text-decoration: none;

                &:hover{
                    color: var(--primary-color);
                }
            }
        }
    }

    .image-body {
        background-image: url('/Images/landing.png');
        min-height: 520px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        .overlay {
            position: absolute;
            top: 10;
            left: 0;
            width: 100%;
            height: 56.2%;
            background: linear-gradient(rgba(32, 31, 58, .9), rgba(32, 31, 58, .9));
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            text-align: center;
        }
    }

    .landing-body{
        display: flex;
        flex-direction: column;
        background-color: red;
        height: 200px;
        margin-top: 20px;
        align-items: center;


        .main-body{
            background-color: gold;
            max-width: 1300px;
            width: 100%;

            .featured{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 20px 0;
                gap: 30px;

                p{
                    color: var(--text-color);
                    font-weight: 500;
                }

                .featured-images{
                    display: flex;

                    img{
                        max-width: 200px;
                        flex-grow: 1;
                    }
                }
            }
        }
    }
}