.Home {
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    
    .home-main{
        display: flex;
        flex-direction: column;
        background: red;
    }

}