.Home {
    height: 100%;

    .home-main {
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;

        .left {
            border-radius: 10px;
            height: 300px;
            width: 300px;
            background: var(--sidebar-color);
            position: relative;


            .header {
                img {
                    width: 100%;
                    border-radius: 10px;
                }
            }

            .photo {
                background: rgb(0, 255, 94);
                width: 50px;
                height: 50px;
                border-radius: 50%;
                position: relative;
                left: 20px;
                bottom: 40px;
            }

            .footer {
                position: absolute;
                left: 20px;
                top: 100px;
            }
        }

        .middle {
            height: 400px;
            width: 800px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .welcome-container {
                background: var(--sidebar-color);
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                padding: 20px;
                align-items: center;

                .close {
                    position: relative;
                    left: 360px;

                    .icon {
                        font-size: 26px;
                        color: var(--text-color);
                        cursor: pointer;

                        &:hover {
                            color: var(--primary-color);
                            font-weight: 500;
                        }
                    }
                }

                .image {
                    background: rgb(0, 255, 94);
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;

                    img {
                        width: 100%;
                        object-fit: contain;
                    }
                }
            }

            .posts {
                .post-container {
                    background: var(--sidebar-color);
                    padding: 10px;
                    border-radius: 10px;

                    .header {
                        display: flex;
                        justify-content: space-between;
                        border-bottom: 1px solid rgb(182, 182, 182);
                        padding-bottom: 10px;

                        .header-left {
                            display: flex;

                            .image {
                                background: rgb(0, 0, 0);
                                height: 70px;
                                width: 70px;
                                border-radius: 50%;
                            }
                        }

                        .header-right {
                            .icon {
                                font-size: 26px;
                            }
                        }
                    }

                    .cimage {
                        width: 780px;

                        img {
                            width: 100%;
                            object-fit: contain;
                        }
                    }

                    .footer {
                        border-top: 1px solid rgb(184, 184, 184);
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        margin-top: 15px;
                        color: gray;
                        padding: 10px;
                        cursor: pointer;

                        .blocks {
                            cursor: pointer;
                            padding: 10px 20px;
                            border-radius: 10px;
                            font-size: 18px;
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            span{
                                font-weight: 500;
                            }


                            &:hover {
                                background-color: whitesmoke;
                                border-radius: 10px;
                            }
                        }
                    }
                }
            }
        }

        .right {
            height: 400px;
            width: 400px;
            background: var(--sidebar-color);
            border-radius: 10px;

        }
    }
}