.Home {
    height: 100%;

    .home-main {
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;

        .left {
            border-radius: 10px;
            height: 300px;
            width: 300px;
            background: var(--sidebar-color);
            position: relative;


            .header {
                img {
                    width: 100%;
                    border-radius: 10px;
                }
            }

            .photo {
                background: rgb(0, 255, 94);
                width: 50px;
                height: 50px;
                border-radius: 50%;
                position: relative;
                left: 20px;
                bottom: 40px;
            }

            .footer {
                position: absolute;
                left: 20px;
                top: 100px;
            }
        }

        .middle {
            height: 400px;
            width: 800px;

            .welcome-container {
                background: var(--sidebar-color);
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                padding: 20px;
                align-items: center;

                .close {
                    position: relative;
                    left: 360px;

                    .icon {
                        font-size: 26px;
                        color: var(--text-color);
                        cursor: pointer;

                        &:hover {
                            color: var(--primary-color);
                            font-weight: 500;
                        }
                    }
                }

                .image {
                    background: rgb(0, 255, 94);
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;

                    img {
                        width: 100%;
                        object-fit: contain;
                    }
                }
            }
        }

        .right {
            height: 400px;
            width: 400px;
            background: var(--sidebar-color);
            border-radius: 10px;

        }
    }
}