.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 50px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    header {
        .title {
            background: white;
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--primary-color);
            border-radius: 8px;
            box-shadow: 1px 1px 10px rgb(177, 177, 177);


            .logo {
                color: var(--primary-color);
                font-size: 26px;
            }
        }
    }


    .menu-bar {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .menu-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 12px;
            width: 40px;
            height: 40px;
            border-radius: 8px;
            font-size: 24px;
            color: var(--text-color);

            &:hover {
                background: white;
                color: var(--primary-color);
                box-shadow: 1px 1px 10px rgb(177, 177, 177);

            }

            span {
                font-size: 14px;
                font-weight: 500;
                // color: var(--text-color);
            }
        }
    }

    footer{
        .logout {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;
            margin-top: 200px;
            color: var(--text-color);
            padding: 10px;
            width: 40px;
            height: 40px;
            border-radius: 8px;

            &:hover {
                background: white;
                color: var(--primary-color);
                box-shadow: 1px 1px 10px rgb(177, 177, 177);
            }

            .logout-icon {
                font-size: 33px;
            }
        }
    }
}






.home {
    position: absolute;
    top: 0;
    top: 0;
    left: 60px;
    height: 100vh;
    width: calc(100% - 40px);
    background-color: var(--body-color);
    transition: var(--tran-05);

    .navbar-container {
        background: var(--sidebar-color);
        min-width: 100px;
        height: 70px;
        margin: 10px 30px;
        padding: 0 20px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* position: fixed; */
        overflow: hidden;

        .navbar-header {
            color: var(--primary-color);
            height: 100%;
            display: flex;
            align-items: center;
        }
    }
}






.navbar-icon {
    display: flex;
}

.navbar-icon:hover {
    cursor: pointer;
}

.navbar-icon span {
    color: var(--primary-color);
    margin-right: 10px;
    display: flex;
    align-items: center;
    padding: 10px 14px;
    border-radius: 6px;
}

.navbar-icon span:hover {
    color: var(--sidebar-color);
    background: var(--primary-color);
    transition: all .5s ease;

}

.main-body {
    background: var(--sidebar-color);
    margin: 10px 30px;
    border-radius: 10px;
    min-width: 200px;
    height: 830px;
    padding: 0 20px;
    overflow: auto;
    transition: all 0.3s ease;
}