.Profile {
    background-color: red;
    display: flex;
    justify-content: center;

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .profile-container {
            width: 800px;
            max-width: 800px;
            background: green;
            padding: 10px;
            border-radius: 10px;

            .header {
                height: 200px;
                width: 800px;

                img {
                    height: 200px;
                    width: 800px;
                    object-fit: cover;

                }
            }
        }
    }
}