.Profile {
    display: flex;
    justify-content: center;

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .profile-container {
            width: 100%;
            max-width: 800px;
            background: var(--sidebar-color);
            // padding: 10px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;
            position: relative;

            .header {
                // height: 200px;
                // width: 800px;

                img {
                    height: 200px;
                    width: 800px;
                    object-fit: cover;
                    border-radius: 10px;

                }
            }

            .photo {
                background: blue;
                width: 150px;
                height: 150px;
                border-radius: 50%;
                position: relative;
                left: 30px;
                bottom: 100px;
                
            }

            .footer {
                position: absolute;
                left: 30px;
                top: 263px;
            }
        }
    }
}
