.Profile {
    display: flex;
    justify-content: center;

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;

        .profile-container {
            width: 100%;
            max-width: 800px;
            background: var(--sidebar-color);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;

            .header {
                height: 200px;
                width: 800px;

                img {
                    // height: 200px;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 10px;

                }
            }

            .middle {
                display: flex;
                justify-content: space-between;
                padding: 20px;
                gap: 30px;

                .photo {
                    background: blue;
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    left: 30px;
                    bottom: 100px;

                }

                .detail-container {
                    .contact-info {
                        color: var(--primary-color);
                        cursor: pointer;
                    }

                    h3{
                        font-size: 16px;
                        color: var(--text-color);
                    }
                    .fullname {
                        display: flex;
                        gap: 10px;
                    }
                }


            }

            .footer {
                padding: 0 30px;
                left: 20px;
                top: 263px;

                p {
                    font-size: 14px;
                    font-weight: 500;
                    color: var(--text-color);
                }
            }

            .edit-container {
                display: flex;
                justify-content: flex-end;
                width: 100%;

                span {
                    display: flex;
                    font-size: 20px;
                    padding: 10px;
                    color: var(--primary-color);
                    background: var(--sidebar-color);
                    box-shadow: 1px 1px 10px rgb(148, 148, 148);
                    margin: 10px;
                    border-radius: 50%;
                cursor: pointer;

                }
            }

        }

        .skills {
            width: 100%;
            max-width: 800px;
            background: var(--sidebar-color);
            border-radius: 10px;

            h3 {
                padding: 10px 20px;
            }

            .skill-container {
                display: flex;
                flex-wrap: wrap;
                padding: 0 20px;
                gap: 20px;

                .btn {
                    padding: 10px;
                }
            }

            .edit-container {
                display: flex;
                justify-content: flex-end;
                width: 100%;

                span {
                    display: flex;
                    font-size: 20px;
                    padding: 10px;
                    color: var(--primary-color);
                    background: var(--sidebar-color);
                    box-shadow: 1px 1px 10px rgb(148, 148, 148);
                    margin: 10px;
                    border-radius: 50%;
                    cursor: pointer;

                }

            }

        }

        .education {
            width: 100%;
            max-width: 800px;
            background: var(--sidebar-color);
            border-radius: 10px;

            h3 {
                padding: 10px 20px;
            }

            .education-container {
                padding: 0 20px;
            }

            .edit-container {
                display: flex;
                justify-content: flex-end;
                width: 100%;

                span {
                    display: flex;
                    font-size: 20px;
                    padding: 10px;
                    color: var(--primary-color);
                    background: var(--sidebar-color);
                    box-shadow: 1px 1px 10px rgb(148, 148, 148);
                    margin: 10px;
                    border-radius: 50%;
                    cursor: pointer;

                }

            }
        }
    }
}